<mat-toolbar>
    <nav>
        <a routerLink="home" routerLinkActive="selected" ><mat-icon>home</mat-icon>Home</a>
        <a routerLink="genom" routerLinkActive="selected"><mat-icon>all_inclusive</mat-icon>Genom</a>
        <a routerLink="user" routerLinkActive="selected"><mat-icon>person_outline</mat-icon>User</a>
        <a routerLink="message" routerLinkActive="selected"><mat-icon>comment</mat-icon>Message</a>
        <a routerLink="/logouth" routerLinkActive="selected"><mat-icon>visibility_off</mat-icon>Logout</a>
    </nav>
</mat-toolbar>
<router-outlet></router-outlet>